@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/**:root
{
    
}**/
/*GLOBALES*/
html{
        font-size: 62.5%;
        box-sizing: border-box;
     scroll-behavior: smooth;
    }

*, *:before, *:after{
        box-sizing: inherit;
    }
body{ scroll-behavior: smooth;
      -webkit-tap-highlight-color: transparent;
      font-family: 'Source Sans Pro', sans-serif;
      overflow-x: hidden;
      
    }
main{
    overflow-x: hidden;
  background: #141414;
    padding-top:35px;
    margin: 0 auto;
    z-index: 1;
    
}
header{
    display: flex;
 
    position: fixed;
    width: 100%;
    height: 75px;
   background-color: transparent;
    z-index: 6;
   /* border-bottom: #6C549B 2px solid;*/
}

.navexp{
  width: 25px;
  height: 25px;
  transform: rotate(0deg);
  border-radius: 100%;
  background-color: rgba(0,0,0,.4);
  background-image: url('../img/DoubleArrow.svg');
  background-size: 80%;
  background-position: center;
  box-shadow:  0 0 10px rgba(0,0,0,.6), inset 0 0 4px rgba(174,90,208,0.6);
  transition: all 300ms linear;
  
  /*border: 1px solid rgba(157,122,171,0.628);*/
}
/*NAVEGACION*/
nav{
 overflow: hidden;
 margin-right:-60%;
 display: flex;
 flex-direction: column;
 position: fixed;
opacity: 0.6;
width:55%;
height: fit-content;

right: 0;
justify-content:center;
align-items: center;
z-index: 2;
box-shadow: 0 0 10px rgba(0,0,0,0.822);
/*order: solid 20px #6d4679;*/

border-bottom-left-radius: 40px;
transition: all 300ms ease-in-out;


}

.btnmenu{
  display: flex;

  justify-self: flex-end;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
background-color:rgba(0,0,0,0.408);
border-radius: 50%;
  margin-right: 17.5px;
  z-index: 6;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
}
.btnmenu:selected{
   background-color: rgba(255,255,255,0.408);
}
.menuletra{
  font-size: 37px;
  
  text-shadow: 0px 4px 10px rgba(0,0,0,0.45),0px 0px 15px rgba(0,0,0,0.45);
  margin: 0 auto;
  color:  rgb(111,91,134);
  margin-bottom: 15px;
}
.imglink{
  width: 15px;
  height: 15px;
  background:rgba(4,2,3,.6);
  margin: 0 3px;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.62);
  transition: all 1s;
  justify-self:flex-start;
  border-radius: 5px 0 0 5px ;
color: black;
  
}
.imglinksvg{
  width: 100%;
  height: 100%;
}
.icon1{

  width: 80%;
margin: 10%;
  height: 80%;
background-image:url('../img/home-svgrepo-com.svg');

}
.icon2{

  width: 80%;
margin: 10%;
  height: 80%;
background-image:url('../img/contact.svg');
}
.icon3{

  width: 80%;
margin: 10%;
  height: 80%;
background-image:url('../img/news-svgrepo-com.svg');
}


.links{
  
    width: 100%;
    justify-self: flex-end;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 15px rgba(255,186,234,0.416);
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
    background:rgba(79,46,88,.97);
    background: linear-gradient(60deg,rgb(20, 8, 22) 0%,
    rgb(32, 18, 37) 20%,rgb(37, 22, 48) 30% , rgb(83,57,108)100%);
 
    
 border-bottom-left-radius: 40px;
    transition: all 300ms;
    
  
}

.link{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  width:70%;
  padding: .9rem 0;
  border-radius: 10%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.6), inset 1px -2px 15px rgba(0,0,0,0.4);
  margin-bottom: 20px;
  transform: scale(1);
  background-color: rgba(0,0,8,.50);
  transition: all 500ms;
}
   
.linkactivo{
   box-shadow: 0px 0px 15px rgba(255, 94, 121, 0.7), inset 1px -2px 10px rgba(0,0,0,0.4);
  transform: scale(1.2);
   background-color:rgba(0, 0, 0, 0);
  color:rgb(255, 134, 134);

}
.linkactivo2{
  box-shadow: 0px 0px 15px rgba(255, 236, 67, 0.7), inset 1px -2px 10px rgba(0,0,0,0.4);
  background-color:rgba(0,0,0,.0);
  transform: scale(1.2);
  color:rgb(227,219,143);

}
.linkactivo3{
  box-shadow: 0px 0px 15px rgba(143,199,227,.7), inset 1px -2px 10px rgba(0,0,0,0.4);
  background-color:rgba(0,0,0,.0);
  transform: scale(1.2);
  color:rgb(143,199,227);

}
.linkactivo4{
  box-shadow: 0px 0px 15px rgba(227,143,208,.7) , inset 1px -2px 10px rgba(0,0,0,0.4);
    background-color:rgba(0,0,0,.0);
  transform: scale(1.2);
  color:rgb(227,143,208);

}
.linkactivo5{
  box-shadow: 0px 0px 15px rgba(163, 227, 143, 0.7), inset 1px -2px 10px rgba(0,0,0,0.4);
    background-color:rgba(0,0,0,.0);
  transform: scale(1.2);
  color:rgb(157, 227, 143);

}
.color{

  background-color: rgba(255, 94, 121,1);

}
.color2{

  background-color: rgba(255, 236, 67,1);

}
.color3{
;
  background-color: rgba(143,199,227,1);

}
.color4{
 
  background-color: rgba(227,143,208,1);

}

.color5{

  background-color: rgba(163, 227, 143,1);

}

.navimg{
  height:40%;
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
  opacity: 0;
}
.hder-bk-img{
 
     display: flex;
     position: fixed;
     align-items: center;
     justify-content: flex-end;
  width: 100%;
  height: 80px;
  border-radius: 0 0 0px 40px;
  z-index: 6;
  background: linear-gradient(-2deg,rgb(38,26,61) 0%, rgb(65,48,97) 20%,rgb(71,53,106) 30% , rgb(94,66,112) 100%);
  
  box-shadow: 0px 5px 12px rgba(0,0,0,0.6);
}
/*Logoheader*/
.logo{
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius:50% ;
    background-color:rgba(0,0,0,0.677);
  box-shadow: 0px 0px 10px rgba(255,255,255,0.412),0px 0 10px rgba(0,0,0,0.65);
margin-top: 1px;
margin-left: 2px;
    z-index: 7;
   /* border: #6C549B 2px solid;*/
   transform: scale(.85);
 
}
.logo-img{
width: 55px;
height: 55px;
margin: 0 auto;

}

/*Main Form*/

.loopa{
  position: relative;
  display: flex;
    align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
   margin-left: 15px;
  background-color: #00000068;
border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
}

#buscar{
  background: none;
  overflow-x: hidden;
  width: 130px;
  padding: 1rem;
  font-size: 1.5rem;
  background-image: linear-gradient(45deg, rgb(17,16,16) 0%, rgb(29,29,29) 100%);
 color: white;
  border: none;
  border-radius: 2px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.85);
}
#buscar:focus{
  outline-style: solid;
  outline-color: none;
  outline-color:#6C549B ;
  border-color: transparent;
  border-image-outset: none;
}
#lupa{
  background: none;
  background-image:url('../img/svg/lupa.svg') ;
  width: 18px;
  height: 18px;
 
  border: none;
}
.mainQ{
  overflow-x: hidden;
  height:inherit;
  width: fit-content;
  padding:7px;
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}
.circulo{
  width: 4px;

border-radius: 100%;
  width: 4px;
  height:4px;
  margin: 1px auto;
  background-color: #d9cde6;
}

.constNav-nav{
  width:15%;
}
.blackbox{
   box-shadow: inset 0 0 4px black, 0 0 12px rgba(0,0,0,.5);
}
.link a{ 
  
  transition: all 300ms;}
.l1,.l2,.l3,.l4,.l5{
         text-transform: uppercase;
    /*background-color:rgba(0,0,0,0.604);*/
font-weight: bolder;
margin-left: 7px;
    text-decoration: none
    font-size: 12px;
        width: 50px;
        transform: scale(1);
        text-align: left;
        color: white;
       padding-right: 12px;
}
.widthZero{
margin: 0 0;
color: transparent;
padding: 0 0;
  width: 0px;

}
/*ANIMACIONES*/
.rotate{
animation-name: rotar902;

  animation-direction: normal;

  animation-duration: .5s;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
.rotatereverse{
  animation-name: rotar90;
  animation-direction: normal;
  animation-duration: .5s;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
@keyframes rotar90{
  from{ transform: rotate(0deg);
  background-color: rgba(0,0,0,0.408);
    
  }
  to{ transform: rotate(90deg);
  background-color: rgba(0,0,0,0.643);
    
  }
}
@keyframes rotar902{
  from{ transform: rotate(90deg);background-color:rgba(0,0,0.643);
   
  }
  to{ transform: rotate(0deg);background-color:rgba(0,0,0,0.408);}
}
